/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Geneva, sans-serif;
}

a {
  color: #2772b0;
}

div img {
  width: 100%;
  max-width: 225px;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background-color: greenyellow;
}

.wrapper div {
  background-color: blue;
  margin: 10px;
  display: inline-block;
}

.wrapper article {
  float: left;
  width: 23%;
  margin: 1%;
}

.wrapper .quarter {
  background-color: #ffc;
}

.wrapper .half {
  background-color: #fcf;
  width: 48%;
  margin: 1%;
}

.wrapper .three-quarters {
  background-color: #cff;
  width: 73%;
  height: 100%;
  margin: 1%;
}

.wrapper .full {
  background-color: #ccf;
  width: 98%;
  margin: 1%;
}

/* grid system -- mobile first! */

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) {
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
}
