@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

picture img {
  padding: 0 0 5% 0;
}

.wrapper {
  margin: 0 auto;
}

body {
  font-family: "Cabin", Arial, Geneva, sans-serif;
  background-image: url(../img/clouds.png);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Niconne", cursive;
  font-weight: normal;
  color: #c80060;
}

nav {
  background: url(../img/scallop.png) repeat-x;
}

nav ul {
  list-style-type: none;
  background-color: #e6bf98;
  padding: 0.75em;
  margin: 12px 0 0 0;
  border-bottom: 3px solid #cc8850;
  overflow: auto;
}

.col-2 {
  flex: 0 0 10%;
}

.col-7 {
  margin: 3% 0 0 3%;
}

.col-4 {
  margin: 0 5% 5% 0;
}

.col-3 {
  background-color: #fff6e0;
  padding: 3% 2% 0 2%;
  border-radius: 0 0 10px 0;
}

nav a {
  color: #c80060;
  text-decoration: none;
  padding-left: 3.333333%;
}

nav a:hover {
  color: #00c4c7;
  text-decoration: none;
}

picture img {
  padding: 10% 0 0 0;
  border-radius: 10px;
}

.history-section-title {
  background-color: #fff6e0;
  padding: 3% 0 0 5%;
}

.history-section {
  background-color: #fff6e0;
  border-bottom-left-radius: 10px;
  padding: 0 0 4% 0;
}

[class*="sidebar"] {
  border: 1px solid #00c4c7;
  border-radius: 10px;
  margin: 2% 0 0 0;
}

[class*="sidebar"] h3 {
  margin: 0;
  color: white;
  background-color: #00c4c7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 0.5em;
}

[class*="sidebar"] img {
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  max-width: 250px;
}

.sidebar-secondary {
  border-color: #c80060;
  margin: 15% 0 0 0;
}

.sidebar-secondary h3 {
  background-color: #c80060;
}

blockquote {
  padding: 0em;
  margin: 0;
}

blockquote p {
  padding: 1em 1em 0 1em;
}

blockquote cite {
  padding: 0 1em;
}

blockquote cite {
  text-transform: uppercase;
  font-style: normal;
  padding-bottom: 1em;
}

footer {
  background-color: #00cdd1;
  color: white;
  margin: 2% 0 0 0;
}

footer a {
  color: white;
  text-decoration: none;
}

h2 {
  font-size: 3em;
  border-bottom: 2px dotted #c80060;
}

h3 {
  font-size: 2em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) {
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px) {
}
