html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
}

li {
  flex: 0 0 100%;
}

img {
  width: 100%;
}

@media (min-width: 550px) {
  li {
    flex: 0 0 50%;
  }
}
@media (min-width: 850px) {
  li {
    flex: 0 0 33%;
  }
}

/* The item is sized according to its width and height properties, but grows to absorb any extra
free space in the flex container, and shrinks to its minimum size to fit the container. This is
equivalent to setting "flex: 1 1 auto" */

/* li {
  flex: auto;
} */
